* {
  box-sizing: border-box;
}

.flexCardContainer__card, .gridCardContainer__card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gridCardContainer {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.flexCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.flexCardContainer__card {
  width: 200px;
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .gridCardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .gridCardContainer__card:nth-child(5) {
    grid-column: span 4;
  }
}
@media (max-width: 1024px) {
  .gridCardContainer {
    grid-template-columns: repeat(6, 1fr);
  }
  .gridCardContainer__card {
    grid-column: span 2;
  }
  .gridCardContainer__card:nth-child(4), .gridCardContainer__card:nth-child(5) {
    grid-column: span 3;
  }
}
@media (max-width: 768px) {
  .gridCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .gridCardContainer__card, .gridCardContainer__card:nth-child(4) {
    grid-column: span 1;
  }
  .gridCardContainer__card:nth-child(5) {
    grid-column: span 2;
  }
}
@media (max-width: 480px) {
  .gridCardContainer {
    grid-template-columns: 1fr;
  }
  .gridCardContainer__card:nth-child(5) {
    grid-column: span 1;
  }
}