* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  max-width: 800px;
  margin: auto;
}

.about {
  text-align: center;
}
.about__title {
  margin: 30px;
  margin-bottom: 10px;
}
.about__line {
  width: 50%;
  margin: 30px auto;
  border: 0;
  border-top: 2px solid #666;
}
.about__description {
  margin: 30px;
  line-height: 1.5;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 40px;
}

.card {
  text-align: center;
  flex: 1 1 calc(33.333% - 40px);
  width: 300px;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 250px;
}
.card__image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 2px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.card__title {
  font-size: 1.2rem;
  margin: 10px 0;
}
.card__description {
  margin-top: 30px;
  font-size: 0.5rem;
  color: #666;
}