$primary-color: #333;
$font-color: #fff;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: $primary-color;

  &__text {
    position: relative;
    z-index: 10;
  }

  &__tooltip {
    visibility: hidden;
    width: 200px;
    background-color: $primary-color;
    color: $font-color;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:hover &__tooltip {
    visibility: visible;
    opacity: 1;
  }
}
