$card-color: #f0f0f0;
$padding: 20px;
$card-min-size: 200px;

.card {
  background-color: $card-color;
  padding: $padding;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-container {
  box-sizing: border-box;
  &.grid {
    display: grid;
    grid-gap: $padding;
    padding: $padding;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax($card-min-size, 1fr));
    
    @media (max-width: 1135px) {
      grid-template-columns: repeat(4, 1fr);
      
      .card:nth-child(5) {
        grid-column: span 4;
      }
    }
  
    @media (max-width: 915px) {
      grid-template-columns: repeat(6, 1fr);
      
      .card {
        grid-column: span 2;
      }

      .card:nth-child(4),
      .card:nth-child(5) {
        grid-column: span 3;
      }
    }
  
    @media (max-width: 695px) {
      grid-template-columns: repeat(2, 1fr);

      .card,
      .card:nth-child(4) {
        grid-column: span 1;
      }
      
      .card:nth-child(5) {
        grid-column: span 2;
      }
    }
  
    @media (max-width: 475px) {
      grid-template-columns: 1fr;

      .card:nth-child(5) {
        grid-column: span 1;
      }
    }

    .card {
      @extend .card;
    }
  }

  &.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $padding;
    padding: $padding;

    .card {
      @extend .card;
      width: $card-min-size;
      flex-grow: 1;
    }
  }
}
